= simple_form_for(@task_score, html:{id: 'score_form'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :score, required: true, hint: '评分范围:0~100分'
    = f.input :content, hint: '你可以对他/她说点什么...(140字以内)'
    /
      = f.association :user
      = f.association :task

  .form-actions
    = f.button :submit, "评分"
    = link_to t('back'), :back, class: "btn waves-effect waves-light blue"

:javascript
  $("#score_form").validate({
    rules: {
      'task_score[score]': {
        range: [0, 100]
      },
      'task_score[content]': {
        maxlength: 140
      }
    }
  });
