%h1 Listing prices

%table
  %tr
    %th House
    %th Day
    %th Week
    %th Month
    %th Weekend
    %th Weekend type
    %th
    %th
    %th

  - @prices.each do |price|
    %tr
      %td= price.house
      %td= price.day
      %td= price.week
      %td= price.month
      %td= price.weekend
      %td= price.weekend_type
      %td= link_to 'Show', price
      %td= link_to 'Edit', edit_price_path(price)
      %td= link_to 'Destroy', price, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Price', new_price_path
